<div class="notice container sm:w-2/4 md:w-9/12 flex justify-center md:justify-start align-items-center mt-4 sm:mt-6 mb-0">
  <p class="notice text-greenDark text-center"><%= notice %></p>
  <p class="notice text-primary text-center"><%= alert %></p>
</div>
